﻿@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        .login-form {
            width: 300px;
            margin: 60px auto;
        }
        .login-form .title {
            margin-bottom: 30px;
        }
        .login-form .form-group {
            position: relative;
        }
        .login-form label.error {
            font-size: 12px;
            right: 0;
            position: absolute;
            color: red;
        }
        .login-form .button {
            margin-left: auto;
            margin-top: 30px;
            display: block;
        }
         .loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            z-index:1000;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div class="loader" style="display:none;"></div>
    <div class="login-form">
        <h2 class="title">Login</h2>
        <form action="\Admin\Login" method="post" id="login">
            <div class="form-group">
                <label for="username">
                    <span class="required">Username</span>
                </label>
                <input id="username" name="username" class="text required input form-control" type="text">
            </div>
            <div class="form-group">
                <label for="password">
                    <span class="required">Password</span>
                </label>
                <input name="password" type="password" class="text required input form-control" id="password">
            </div>
            <div class="form-group">
                <label id="lblAuthentication" style="display:none">
                    <span class="required" style="color:red">Invalid Credentials</span>
                </label>
            </div>
            <div><input type="submit" class="button --blue btn btn-primary" value="Login"></div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">

    $("#login").validate({
        rules: {
            username: {
                required: true,
            },
            password: {
                required: true,
                minlength: 3
            },
        },
        messages: {
            "username": {
                required: "This field is required.",
            }
        },
        submitHandler: function (form) {
            $(".loader").show();
            $(".button").attr("disabled", true);

            var serializedForm = $('#login').serialize();
            $.ajax({
                url: '@Url.Action("Login", "Admin")',
                type: "POST",
                dataType: "json",
                data: serializedForm,
                success: function (result) {
                    $(".loader").hide();
                    $(".button").attr("disabled", false);
                    if (result == "true") {

                        location.href = '@Url.Action("Index", "Reports")';
                    }
                    else {
                        $('#lblAuthentication').show();
                    }
                },
                error: function(xhr, status, error) {}
            });
        }
    });
</script>