﻿@using System;
@model Reports.DAL.FileStatusModel
@{
    ViewData["Title"] = "Reports";
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            DisableItems(false);
            $(".loader").hide();
            $('#fromDate').datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                maxDate: 0
            });
            $('#toDate').datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                maxDate: 0
            });

            $(function () {
                $("#btn_submit").click(function () {
                    var categoryId = $("#selectMainCategory").val();

                    var initFromDate = $('#fromDate').val();
                    //var frdd = initFromDate.split("/")[0];
                    //var frmm = initFromDate.split("/")[1];
                    //var fryy = initFromDate.split("/")[2];

                    var initToDate = $('#toDate').val();
                    //var todd = initToDate.split("/")[0];
                    //var tomm = initToDate.split("/")[1];
                    //var toyy = initToDate.split("/")[2];

                    var status = $("#selectStatus").val();

                   // var dateFrom = frmm + "/" + frdd  + "/" + fryy;
                   // var dateTo = tomm + "/" + todd + "/" + toyy;

                    //alert(initFromDate);

                    DisableItems(true);
                    $("#btn_Excel").prop("disabled", true);
                    if (categoryId == 0) {
                        alert("Please Enter Category");
                        DisableItems(false);
                        $("#btn_Excel").prop("disabled", false);
                    }
                    else if (initFromDate > initToDate) {
                        alert("From Date cannot be Greater then To Date!");
                        DisableItems(false);
                        $("#btn_Excel").prop("disabled", false);
                    }
                    else if (status == '' && categoryId != 1) {
                        alert("Please Enter Status");
                        DisableItems(false);
                        $("#btn_Excel").prop("disabled", false);
                    } else {
                        $("#div_paymentFailed, #div_initiated").css("display", "none");                        
                        if (categoryId != 1) {
                            if (categoryId == 2) {
                                $("#div_paymentFailed, #div_initiated").css("display", "block");
                            }
                            $("#div_filesCount").css("display", "block");
                        }
                        
                        $(".loader").show();
                       // var customFromDate = fryy + "/" + frmm  + "/" + frdd;
                       // var customToDate = toyy + "/" + tomm + "/" + todd;

                       $.post('@Url.Action("ReportsSearchResult", "Reports")', { FromDate: initFromDate, ToDate: initToDate, Category: categoryId, Status: status },
                           function (response) {
                               if (response.success) {
                                   if (categoryId == 2) {
                                       $("#lbl_created").html("Waiting for Payment");
                                   } else {
                                       $("#lbl_created").html("Waiting for Transfer");
                                   }
                                   $(".loader").hide();
                                   $("#spn_totalCnt").html(response.jdata.countDetails.totalCount);
                                   $("#spn_successAutoCnt").html(response.jdata.countDetails.successCount);
                                   
                                   $("#spn_initiatedCnt").html(response.jdata.countDetails.initiatedCount);
                                   $("#spn_createdCnt").html(response.jdata.countDetails.createdCount);
                                   $("#spn_waitingCnt").html(response.jdata.countDetails.waitingCount);
                                   $("#spn_failureCnt").html(response.jdata.countDetails.failureCount);
                                   $("#spn_payFailureCnt").html(response.jdata.countDetails.paymentFailureCount);
                                   
                                   var tableName = '#demotable';

                                   $("#demotable thead th").remove();

                                   $.each(response.jdata.columns, function (k, colObj) {
                                       str = '<th>' + colObj.name + '</th>';
                                       $(str).appendTo(tableName + '>thead>tr');
                                   });

                                   response.jdata.columns[0].render = function (data, type, row) {
                                       return '<h4>' + data + '</h4>';
                                   }

                                   $(tableName).dataTable({
                                       "destroy": true,
                                       "data": response.jdata.data,
                                       "columns": response.jdata.columns
                                   });

                                   if (response.jdata.data.length > 0) {
                                       $("#btn_Excel").show();
                                       $("#btn_Excel").prop("disabled", false);
                                   }
                                   else {
                                       $("#btn_Excel").prop("disabled", true);
                                   }
                                   DisableItems(false);
                               } else {
                                   location.href = '@Url.Action("Index", "Admin")';
                               }

                            });
                    }
            });
            });

            $(function () {
                $("#selectMainCategory").change(function () {
                    if ($(this).val() == 1) {
                        $("#lblStatus, #selectStatus").hide();
                    }
                    else {
                        if ($(this).val() == 2) {
                            $("#selectStatus option[value='0'], #selectStatus option[value='6']").remove();
                            $("#selectStatus").append("<option value='0'>Initiated</option>");
                            $("#selectStatus").append("<option value='6'>Payment Failure</option>");                            
                        }
                        else {
                            $("#selectStatus option[value='0'], #selectStatus option[value='6']").remove();
                        }
                        $("#lblStatus, #selectStatus").show();
                        $('#selectStatus').prop('selectedIndex', "");                       
                    }
                });
            });
        });
        function DisableItems(flag) {
            if (flag) {
                $("#fromDate,#toDate, #selectMainCategory, #selectStatus, #btn_submit").prop("disabled", true);
            } else {
                $("#fromDate,#toDate, #selectMainCategory, #selectStatus, #btn_submit").prop("disabled", false);
            }

        }
        function Hide() {
            $("#btn_Excel").prop("disabled", true);
            return;
        }

        function logout() {
            $.ajax({
                url: '@Url.Action("Logout", "Admin")',
                type: "POST",
                dataType: "json",
                success: function (result) {
                    if (result == "true") {
                        location.href = '@Url.Action("Index", "Admin")';
                    }
                },
                error: function (xhr, status, error) {
                }
            });
        }
          
        $(function () {
            $("#btnRestart").click(function () {
                var serviceName = $("#selectServiceNames option:selected").html();

                if ($("#selectServiceNames").val() == '')
                    alert("Please select a Service Name");
                else {
                    $(".loader").show();
                    $.ajax({
                        url: '@Url.Action("ServiceOperations", "Reports")',
                        data: { serviceName: serviceName },
                        type: "POST",
                        dataType: "json",
                        success: function (result) {
                            $(".loader").hide();
                            if (result.success) {
                                if (result.message == "true") {
                                    setTimeout(function () { alert(serviceName + " restarted!"); }, 100);
                                }
                                else
                                    setTimeout(function () { alert("Service does not exist!!!"); }, 100);
                            }
                            else
                                setTimeout(function () { alert(result.message); }, 100);
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                }
            });
        });


    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Reports</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .bold {
            font-weight: bold;
        }

        .loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            z-index:1000;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>

    <h2>Reports <button class="logout-btn" onclick="logout()" style="float:right;">Log Out</button></h2>
    <hr />

    <div class="loader"></div>
    <div>
        <label id="lbl_dateRange"> Date Range  </label>
        <label id="lbl_dateRange"> From :</label>
        <input type="text" id="fromDate" readonly value="@ViewBag.FromDate" data-date-format="dd/MM/yyyy">
        <label id="lbl_dateRange"> To :</label>
        <input id="toDate" type="text" readonly value="@ViewBag.ToDate" data-date-format="dd/MM/yyyy" />
        <div style="float:right">
            <select id="selectServiceNames">
                @{
                    <option value="">Select Service Name</option>
                    if (ViewBag.ServiceName != null)
                    {
                        @foreach (var service in ViewBag.ServiceName)
                        {
                            <option value="@service.ServiceId">@service.ServiceName</option>
                        }
                    }
                }
            </select>&nbsp;
            <input type="button" value="Restart Service" id="btnRestart" />
        </div>
    </div>
    <br />
    <div>
        <label id="lblCategory"> Select Category </label>&nbsp;
        &nbsp;
        <select id="selectMainCategory">
            <option value="0">Select Category</option>
            <option value="1">Pending Emails</option>
            <option value="2">Users</option>
            <option value="3">Account</option>
            <option value="4">Rms</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label id="lblStatus"> Select File Status</label>
        &nbsp;
        <select id="selectStatus">
            @{
                <option value="">Select File Status</option>
                if (Model.ListFileStatus.Any())
                {
                    @foreach (var status in Model.ListFileStatus)
                    {
                        <option value="@status.StatusId">@status.StatusName</option>
                    }
                }
            }
        </select>
    </div>
    <br />
    <div>
        <input type="button" id="btn_submit" value="Search" /> &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="btn_Excel" value='Download Excel' style="display:none" onclick="location.href = '@Url.Action("Excel", "Reports")'; Hide();" />
    </div>
    <br />
    <div id="divCounts">
        <div>
            <span class="bold">Total Count :</span>&nbsp;&nbsp; <span id="spn_totalCnt" class="bold"></span>
        </div>
        <div>
            <span class="bold">Total Success Count :</span>&nbsp;&nbsp; <span id="spn_successAutoCnt" class="bold"></span>
        </div>
        <br />
        <div id="div_filesCount" style="display:none;">
            <div id="div_initiated" style="display:none;">
                <span class="bold">Initiated :</span>&nbsp;&nbsp; <span id="spn_initiatedCnt" class="bold"></span>
            </div>
            <div>
                <span id="lbl_created" class="bold"></span>&nbsp;&nbsp; <span id="spn_createdCnt" class="bold"></span>
            </div>
            <div>
                <span class="bold">Waiting for Response :</span>&nbsp;&nbsp; <span id="spn_waitingCnt" class="bold"></span>
            </div>
            <div>
                <span class="bold">Failed :</span>&nbsp;&nbsp; <span id="spn_failureCnt" class="bold"></span>
            </div>
            <div id="div_paymentFailed" style="display:none;">
                <span class="bold">Payment Failed :</span>&nbsp;&nbsp; <span id="spn_payFailureCnt" class="bold"></span>
            </div>
        </div>
        <br />
    </div>
    <hr />
    <div>
        <table id="demotable" class="display cell-border hover">
            <thead><tr></tr></thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>

